@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-w-840 {
    max-width: 840px;
  }
  .w-840 {
    width: 840px;
  }
  .h-651 {
    height: 651px;
  }
  .h-101 {
    height: 101px;
  }
  .h-342 {
    height: 342px;
  }
  .text-32{
    font-size: 32px;
    input{ min-width:0;}
  }
  .rounded-br-200{
    border-bottom-right-radius: 200px;
  }
}